<article class="dashboard">
  <h1>Dashboard</h1>
  <% if @forms.any? %>
    <ul class="forms-list">
    <% @forms.each do |f| %>
      <li class="form-card">
        <span><%= f.name %></span>
        <%= link_to "Archive", form_archive_path(f), method: :post %>
      </li>
    <% end %>
    </ul>
  <% end %>
</article>