<article class="dashboard">
  <h1>Dashboard</h1>
  <% if @forms.any? %>
    <ul class="forms-list">
    <% @forms.each do |f| %>
      <li class="form-card">
        <span><%= f.name %></span>
        <section class="actions">
          <%= link_to "Edit", edit_form_path(f.uuid) %>
          <%= link_to "Archive", archive_form_path(f), method: :post, class: "archive" %>
        </section>
      </li>
    <% end %>
    </ul>
  <% end %>
</article>