.explanation {
  display: block;
  color: #8A8A8A;
  font-style: italic;
}

ul.forms-list {
  list-style-type: none;
  
  .form-card {
    background-color: #fff;
    max-width: 50rem;
    padding: 1rem;
    border-radius: 4px;
  }
}
